---
layout: page
---

<section class="page-section project">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
            <h2 class="section-heading text-uppercase">{{ page.title }}</h2>
            <p class="section-subheading">{{ page.subtitle }}</p>
            <p class="section-subheading">{{ page.author }}</p>
            <!--img class="img-fluid d-block mx-auto" src="{{ site.baseurl }}/{{ page.image }}" alt="{{ project.alt }}"-->
            </div>
        </div>
    </div>
{{ content }}
</section>
